
{%- set mysql_version = pillar.mysql.get('server', {}).get('version', '6.0') %}

{%- set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['mysql-server-'+mysql_version, 'python-mysqldb', 'debconf-utils'],
        'service': 'mysql',
        'config': '/etc/mysql/my.cnf',
        'maintenance_password': '5Pg91H1flC4HSVns',
        'replication': {
           'role': 'none',
        },
        'ssl': {
          'enabled': False
        }
    },
    'RedHat': {
        'pkgs': ['mysql-server', 'MySQL-python'],
        'service': 'mysqld',
        'config': '/etc/my.cnf',
        'replication': {
           'role': 'none',
        },
        'ssl': {
          'enabled': False
        }
    },
}, merge=salt['pillar.get']('mysql:server')) %}

{%- set client = salt['grains.filter_by']({
    'default': {
    },
}, merge=salt['pillar.get']('mysql:client')) %}

{%- if server.admin is defined %}
{%- set mysql_connection_args = {'user': server.admin.user,
                                 'password': server.admin.password,
                                 'charset': 'utf8'} %}
{%- else %}
{%- set mysql_connection_args = {'user': 'root',
                                 'password': '',
                                 'charset': 'utf8'} %}
{%- endif %}